[submodule "OpenDV"]
	path = OpenDV
	url = https://github.com/dl5di/OpenDV.git
[submodule "DMRlink"]
	path = DMRlink
	url = https://github.com/n0mjs710/DMRlink.git
[submodule "wiringPi"]
	path = wiringPi
	url = git://git.drogon.net/wiringPi
